In [12]:
import random
import pandas as pd
import numpy as np
df = pd.read_csv('./data/stepTwoData.csv', sep=',',header=0)
df.head()

,Unnamed: 0,Date,Open,High,Low,Close,Volume,Market Cap,Mean,normalize,Diff,Class
0,0,"Nov 07, 2017",7023.1000,7253.3200,7023.1000,7144.3800,2.326340e+09,1.170560e+11,7083.7400,5.624654,NaN,False
1,1,"Nov 06, 2017",7213.8100,7435.4000,7178.1450,7275.8950,2.353375e+09,1.202220e+11,7244.8525,5.769435,0.144781,False
2,2,"Nov 05, 2017",7404.5200,7617.4800,7333.1900,7407.4100,2.380410e+09,1.233880e+11,7405.9650,5.914215,0.144781,True
3,3,"Nov 04, 2017",7246.0250,7539.3850,7168.0650,7307.5850,2.875135e+09,1.207360e+11,7276.8050,5.798148,-0.116067,True
4,4,"Nov 03, 2017",7011.8975,7453.3575,6963.3925,7193.0425,3.764452e+09,1.168230e+11,7102.4700,5.641486,-0.156663,True

In [13]:
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score, accuracy_score

In [14]:
df = df[:301]
for x in range(301):
    for y in range(2,8):
        df.iloc[x,y] += random.uniform(-10, 10)


df['Class'] = None #Creates a class analysis for the data
for y in range(len(df)-1):
    if df.loc[y+1,'Close'] < df.loc[y,'Close']:
        df.loc[y, 'Class'] = True
    else:
        df.loc[y, 'Class'] = False
        
df = df.drop(df.index[-1])
df.head()

y=df.iloc[:,-1].fillna(df.mean()).as_matrix()

x=df.iloc[:,2:8].fillna(df.mean()).as_matrix()

classify = LogisticRegression(penalty='l1',C=10.0)
classify.fit(x,y)
yhat=classify.predict(x)
print accuracy_score(y,yhat)

0.853333333333